*{
    margin: 0;
    padding: 0;
}
.container{
    height: 165px;
 background-color: black;
}
.container img:hover{
    border:3px solid lightgreen;
}
@media screen and (max-width:1200px) {
    
      .container{
          font-size: 50%;
      }
      .container img{
          margin-bottom: 600px;

      }
      .music{
          margin-left: 925;
          font-size: 45px;
          margin-top: -300px;
      }
    
}
.container img{
height: 19vh;
margin-bottom: -25px;
margin-left: 0px;
margin-top: 15px;
}
h1{
    font-size: 10vh;
    color: white;
    margin-left: 62vh;
    margin-top: -106px;
}
@media  screen and (max-width:90px) {
    h1{
        margin-left: 32vh;
        margin-top: 1vh;
    }
    
}

/* /* @media screen and (max-width:90px){ */
    /* .music{ */
        /* font-size: 30px; */
        /* margin-right: 30px; */
    

.search{
    
    margin-top: -2vh;
    margin-left: 2vh;
    position: relative;
    }
    @media screen and(max-height:11px){
        .search{
            font-size:1vh;
            display: inline-block;
            margin-left: 2vh;
            background-color: aqua;

        }
    }
    
    .arijit{
        width:100%;
        background-color: red;
        animation: radial-pulse 1s infinite;
        display: flex;
        font-size: 34px;
        color: azure;
        
        
    }
    
    .arijit img:hover{
        border:4px solid green;
    }
    @media screen and(max-width:90px){
        .arijit{
            font-size: 3px;
            width:60%
        }
    }
    .udit{
        width:100%;
        background-color: aquamarine;
        display: flex;
        font-size: 34px;
        color: black;
    }
    .udit img:hover{
        border:4px solid brown;
    }
    @media screen and(max-width:90px){
        .udit{
            font-size:2px;
        }
    }

    
    .kumar{
        width:100%;
        background-color: beige;
        display: flex;
        font-size: 34px;
        color:red;
    }
    .kumar img:hover{
        border:4px solid lightgoldenrodyellow;
    }
    @media screen and(max-width:90px){
        .kumar{
            font-size:2px;
        }
    }
    .shreya{
        width:100%;
        background-color: lightcyan;
        display: flex;
        font-size: 34px;
        color: green;
    }
    .shreya img:hover{
        border:4px solid crimson;
    }
    @media screen and(max-width:90px){
        .shreya{
            font-size: 3px;
        }
    }
    .alka{
        width:100%;
        background-color: lightcoral;
        display: flex;
        font-size: 34px;
        color: azure;

    }
    .alka img:hover{
        border: 4px solid rosybrown;
    }
    @media screen and(max-width:90px){
        .alka{
            font-size:3px;
        }
    }
    .sonu{
        width:100%;
        background-color:wheat;
        display: flex;
        font-size: 34px;
        color: black;

    }
    .sonu img:hover{
        border:4px solid silver;
    }
    @media screen and(max-width:90px){
        .sonu{
            font-size:3px;
        }
    }